<center>
<div class="card" style="width:323px;">
    <h1>Sign up</h1>
    <br>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <div class="form-group">
        <%= f.text_field :name, autofocus: true, placeholder: "Enter your fullname", class: "form-control" %><br>
      </div>
      
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Enter your email", class: "form-control" %><br>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Choose password", class: "form-control" %>
        <br>
        <small id="passwordHelp" class="form-text text-muted">6 characters minimum</small>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-type password", class: "form-control"%>
        <br>
        <small id="passwordHelp" class="form-text text-muted">6 characters minimum</small>
      </div>
      
      <div class="form-group">
        <%= f.text_area :address, autofocus: true, placeholder: "Enter your address here", class: "form-control" %><br>
      </div>

      <div class="form-group">
        <%= f.text_field :contact_number, autofocus: true, placeholder: "Enter your mobile name", class: "form-control" %><br>
      </div>
      
      <div class="form-group">
        <%= f.text_field :company_name, autofocus: true, placeholder: "Enter your company name", class: "form-control" %><br>
      </div>
      
        <!-- Default unchecked -->
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="seller" name="defaultExampleRadios">
          <label class="custom-control-label" for="defaultUnchecked">Registering as seller</label>
        </div>

        <!-- Default checked -->
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="buyer" name="defaultExampleRadios" checked>
          <label class="custom-control-label" for="defaultChecked">Registering as buyer</label>
        </div>
      
      <br>
      <%= hidden_field_tag 'user_role', 'buyer'%>
      <button type="submit" class="btn btn-success">Sign up</button>
    <% end %>
    <%= render "devise/shared/links" %>
 </div>
</div>
</center>

<script>
    $("#user_company_name").hide();
    $('#seller').click(function(){
        if ($(this).is(':checked'))
        {
          $("#user_role").val("seller");
          $("#user_company_name").show();
        }
    });
    
    $('#buyer').click(function(){
        if ($(this).is(':checked'))
        {
          $("#user_role").val("buyer");
          $("#user_company_name").hide();
        }
    });
</script>










