<center>
<div class="card" style="width:323px;">
    <h3>Forgot your password?</h3>
    <br>
    <h5><%= devise_error_messages! %></h5>
  <div class="card-body">
   <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Enter your email", class: "form-control" %>
      </div>
      
      <button type="submit" class="btn btn-success">Send me reset password instructions</button>
    <% end %>
    <%= render "devise/shared/links" %>
 </div>
</div>
</center>