
<div class="container">
  <h2>Buyers</h2>
             
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>Address</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% @buyers.all.each do |buyer|%>
      	<tr>
      		<td><%=buyer.name%></td>
      		<td><%=buyer.email%></td>
      		<td><%=buyer.address%></td>
      		<td><%=Role.find(buyer.role_id).name.upcase%></td>
      	</tr>
      <%end%>
    </tbody>
  </table>
</div>
