<center>
    <h1>Admin Dashboard</h1>
</center>


<div class="row">
    <div class="col-sm-2">
        <a href="/home/buyers" class="btn btn-sm btn-primary big-button">Buyers</a><br><br>
        <a href="/home/sellers" class="btn btn-sm btn-primary big-button">Sellers</a><br><br>
        <a href="/home/all_products" class="btn btn-sm btn-primary big-button">All products</a><br><br>
        <a href="/home/sold_products" class="btn btn-sm btn-primary big-button">Sold products</a>
    </div>
    <div id="partial_holder" class="col-sm-10">
        
    </div>
</div>
