
<div class="container">
  <h2>Sellers</h2>
             
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Company name</th>
        <th>Contact no.</th>
        <th>email</th>
        <th>Address</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% @sellers.all.each do |seller|%>
      	<tr>
      		<td><%=seller.name%></td>
          <td><%=seller.company_name%></td>
          <td><%=seller.contact_number%></td>
      		<td><%=seller.email%></td>
      		<td><%=seller.address%></td>
      		<td><%=Role.find(seller.role_id).name.upcase%></td>
      	</tr>
      <%end%>
    </tbody>
  </table>
</div>