<center>
<div class="card" style="width:323px;">
    <h1>Log in</h1>
    <br>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, placeholder: "Enter your email", class: "form-control" %><br>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Choose password", class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <button type="submit" class="btn btn-success">Log in</button>
    <% end %>
    <%= render "devise/shared/links" %>
 </div>
</div>
</center>